#header{
    color:brown;
    font-size:20px;
}
h1::first-line{
    color:red
}
h1::first-letter{
    color:blueviolet
}
.special{
    color:blue;
    font-size:20px
}
.vikrant{
    color:blueviolet;
    font-size:20px
}